{% extends "base.html" %}

{% block content %}
    <div class="jumbotron text-center">
        <h1 class="display-4">Task Manager</h1>
        <p class="lead">Welcome to our task manager!</p>
    </div>
    <div class="container text-center">
        <h2>Some information about us:</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ num_workers }}</h5>
                        <a class="card-text" href="{% url 'manager:worker-list' %}" style="color: black;">Workers</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ num_positions }}</h5>
                        <a class="card-text" href="{% url 'manager:position-list' %}" style="color: black;">Positions</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ num_tasks }}</h5>
                        <a class="card-text" href="{% url 'manager:task-list' %}" style="color: black;">Tasks</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ num_task_types }}</h5>
                        <a class="card-text" href="{% url 'manager:task-type-list' %}" style="color: black;">Task types</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

