{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">
            Worker List
            <a href="{% url 'manager:worker-create' %}" class="btn btn-dark float-right">
              Create
            </a>
          </h1>

          <br>

          <form action="" method="get" class="form-inline">
            {{ search_form|crispy }}
            <input type="submit" value="Search" class="btn btn-dark">
          </form>

          <br>

          {% if worker_list %}
          <div class="table-responsive">
            <table class="table table-hover">
              <thead class="thead-dark">
                <tr>
                  <th>ID</th>
                  <th>Username</th>
                  <th>First name</th>
                  <th>Last name</th>
                  <th>Position</th>
                </tr>
              </thead>
              <tbody>
              {% for worker in worker_list %}
                <tr>
                  <td>{{ worker.id }}</td>
                  <td><a href="{{ worker.get_absolute_url }}">{{ worker.username }} {% if user == worker %} (Me){% endif %}</a></td>
                  <td>{{ worker.first_name }}</td>
                  <td>{{ worker.last_name }}</td>
                  <td>{{ worker.position }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          {% else %}
            <p>There are no workers in the task manager.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}